body {
    max-width: 1400px;
    background-color: hsl(163, 28%, 25%);
}
header{
    width: 100%;
    position: sticky;
}
.logo{
    max-width: 70px;
    height: 70px;
}

.logo img{
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}
.my_site{
    position: relative;
    right: 20px;
    left: 10px;
    top: -20px;
    display: inline;
    font-size: 38px;
}
nav {
    max-width: 1150px;
    padding: 0 50px;
    overflow: auto;
    font-family: 'Playfair Display';
    font-size: 34px;
}
nav a{
    width: 100px;
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    position: relative;
    right: 0px;
    left: 580px;
    top: -60px;
    display: inline;
}
section article{
    max-width: 750;
    height: 894;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 124px 400px 0px 0px;
}